build/CCSU_course/localpycs/pyimod04_pywin32.pyc
build/CCSU_course/Analysis-00.toc
build/CCSU_course/base_library.zip
build/CCSU_course/CCSU_course.pkg
build/CCSU_course/EXE-00.toc
build/CCSU_course/PKG-00.toc
build/CCSU_course/PYZ-00.pyz
build/CCSU_course/PYZ-00.toc
build/CCSU_course/warn-CCSU_course.txt
build/CCSU_course/xref-CCSU_course.html
build/CCSU_course/localpycs/pyimod01_archive.pyc
build/CCSU_course/localpycs/pyimod02_importers.pyc
build/CCSU_course/localpycs/pyimod03_ctypes.pyc
build/CCSU_course/localpycs/struct.pyc
