	.multi-control{
		padding:0;
		position: relative;
		display: block;
		width: 100%;
		height: 30px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	.multi-ctn{
		z-index:2100;
		display: none; 
		position: absolute;
		top:27px;
		left:0;
		width:100%;
		padding:10px 8px 0;
		background-color:#fff;
		border:1px solid #ccc;
	}
	.multi-ctn>div{
		position: relative;
		line-height: 17px;
		margin-bottom: 10px;
	}
	.search-choice{
		float: left;
		line-height: 21px;
		position: relative;
		padding: 0 5px;
		margin: 2px;
		border: 1px solid #4a89dc!important;
		border-radius: 2px!important;
		background-color: #4a89dc!important;
		background-image: none!important;
		background-size: 100% 19px;
		background-clip: padding-box;
		box-shadow: none!important;
		color: #fff!important;
		cursor: default;
		box-sizing: border-box;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		/*width: 100%;*/
	}
	.search-choice span{
		margin-right:3px;
	}
	.search-choice-close {
		color:#fff;
		cursor: pointer;
		z-index:99;
	}
	.chosen-choices {
		position: absolute;
		top:0;
		left:0;
		margin: 0;
		height: 28px;
		line-height: 1.42857;
		padding: 0 10px;
		background-image: none;
		color: #555;
		font-size: 14px;
		text-decoration: none;
		white-space: nowrap;
		transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
		overflow:hidden;
		z-index:33;
		width: 100%;
	}
	.default-checkbox {
		position: absolute;
		opacity: 0;
	}
	.default-checkbox + label {
		position: relative;
		display: block;
		padding-left: 23px;
		cursor: pointer;
		vertical-align: middle;
	}
	.default-checkbox + label:before {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 16px;
		height: 16px;
		content: '';
		border: 1px solid #c0c0c0;
	}
	.primary-checkbox:checked + label:before{
		border-color: #4a89dc;
		background: #4a89dc;
	  }
	.default-checkbox + label .glyphicon{
		display:none;
		position:absolute;
		top:0;
		left:0;
		color: #fff;
	}
	.default-checkbox:checked + label .glyphicon{
		display:block;
	}
	.multi-ctn .glyphicon-remove-circle{
		position:absolute;
		top:7px;
		right:7px;
	}
	.multi-control .ellipsis {
		position: absolute;
		right: 5px;
		top: 1px;
		line-height: 20px;
		color: #000;
		font-weight: 600;
	}
	.chosen-choices.expand {
		height: 25px;
	}
	
	.show-panel {
		display: none;
		position: absolute;
		top: 27px;
		border: 1px solid #a29f9f;
		padding: 0 5px;
		line-height: 22px;
		left: 0;
		width: auto;
		background: #fff;
		z-index: 1200;
	}
	.show-panel span{
		padding:0 5px;
	}
	.arrow{
		position: absolute;
		top: 3px;
		right: 5px;
		width: 12px;
		height: 16px;
		/*background: url('http://10.71.33.119/zftal-ui-v5-1.0.2/assets/plugins/chosen/images/chosen-sprite.png') no-repeat 0 2px;*/
	}

	.multi-ctn .chosen-search {
		position: relative;
		padding: 3px 4px;
		white-space: nowrap;
	}

	.chosen-search input {
		margin: 1px 0;
		padding: 4px 20px 4px 5px;
		width: 100%;
		height: auto;
		outline: 0;
		border: 1px solid #ccc;
		background: white url("../../images/chosen-sprite.png") no-repeat 100% -20px;
		font-size: 1em;
		font-family: sans-serif;
		line-height: normal;
		border-radius: 0;
	}

	.multi-ctn .ctn-all,.multi-ctn .ctn-invert,.multi-ctn .ctn-out {
		display: inline-block;
	}

	.multi-ctn .hideBox{
		display: none!important;
	}